@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    margin: 0;
  }

  #root {
    min-height: 100svh;
  }

  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }

  .material-symbols-outlined.fill {
    font-variation-settings: 'FILL' 1;
  }
}

@layer utilities {
  .glow-primary {
    box-shadow: 0 0 20px rgba(0, 228, 121, 0.2);
  }

  .glow-secondary {
    box-shadow: 0 0 20px rgba(20, 209, 255, 0.3);
  }
}
